{{#>layout}}
    <div class="container-sm mt-4">
        <h1 style="text-align: center;">
            COLLECTIONS
        </h1>
        {{#if logged}}
        <div class="d-flex justify-content-center">
            <a href="/add-collection" class="btn btn-primary">Add Collection</a>
        </div>
        {{/if}}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 justify-content-center mt-4">
        {{#each collections}}
        <div class="col">
            <div class="card h-100" style="max-height: 500px; overflow:hidden">
                <div class="card-body">
                    <a href="/update-collection/{{this.id}}" style="text-decoration: none; color:black" >
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p>{{this.done_count}}/{{this.task_count}} done</p>
                </div>

            </div>
        </div>
        {{/each}}
        </div>

        
    </div>



{{/layout}}