<!DOCTYPE html>
<html>
<head>
    <title>Task Collections | {{currentPage}}</title>
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>

<body>
    {{> navbar}}

    {{> @partial-block}}

    <script src="/assets/bootstrap/bootstrap.bundle.min.js.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>